# Redot 4+ specific ignores
.godot/
/android/
**/target/
**/node_modules/
addons/AlephVault.EVM/samples/blockchain/artifacts
addons/AlephVault.EVM/samples/blockchain/cache
addons/AlephVault.EVM/samples/blockchain/ignition/deployments/chain-31337
